/* items that are not displayed on bigger screens */
.scroll-container {
  display: none;
}
.upArrow-btn {
  display: none;
}
.mobile-thanks {
  display: none;
}

/* */

main {
  position: relative;
  display: flex;
  height: 100vh;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding: 2em 2.25em 0 2.25em;
  z-index: 1;
}

.landing-cta-btn {
  background-color: #e5e5e5;
  padding: 0.8125em 1.75em 0.9375em 1.75em;
  border-radius: 7.5em;
  border: none;
  word-spacing: 0.0625em;
  font-size: 1em;
  font-weight: 500; /* doesn't have that type */
  line-height: 1.25em;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}

.landing-cta-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

/* Left */

.illustration-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 41.4%;
  background-color: #caf450;
}

/* Main Content */

.main-content-wrapper {
  display: flex;
  align-items: center;
  padding-left: 4em;
  flex-basis: 52.75%;
}

.main-content {
  max-width: 34.3125em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
}

.main-heading-paragraph {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.landing-heading {
  font-size: 3.5em;
  line-height: 60.48px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 800;
}

.landing-body-text {
  font-family: 'Inter';
  color: #252525;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.5625rem;
}

.landing-heading-span {
  color: #caf450;
}

/* Form */

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30rem;
}
.email-input {
  width: 30rem;
  border-radius: 7.5em;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 1.46875rem 1.375rem 1.375rem 1.5rem;
}
input:focus {
  outline: none;
}

::placeholder {
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: rgba(29, 29, 39, 0.34);
  font-family: 'national_2bold';
}
.input-btn {
  font-size: 1em;
  background-color: #000000;
  color: white;
  border: 0;
  border-radius: 7.5em;
  padding: 0.8125em 1.25em 0.9375em 1.25em;
  box-shadow: 0px 0px 40px 0px #0000001f;
  position: absolute;
  right: 0.5625em;
  cursor: pointer;
}

/* Footer */
footer {
  position: absolute;
  width: 100%;
  bottom: 1.5rem;
  padding: 1em 2.25rem 0 2.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  color: #00000080;
}

a {
  color: #000000;
}
a:hover {
  text-decoration: underline;
}
.links {
  display: flex;
  align-items: center;
  gap: 1.9em;
}

.social-icons {
  display: flex;
  gap: 1.34em;
}

.social-links-a {
  cursor: pointer;
  height: 16.25px;
  width: 16.25px;
}

.copy {
  font-family: 'Test National 2';
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: right;
}

/* responsive */

@media only screen and (min-height: 843px) {
  footer {
    bottom: 2.5em;
  }
}
@media only screen and (min-width: 1440px) {
  @media screen and (orientation: landscape) {
    main {
      height: 100vh;
    }
  }
  @media screen and (orientation: portrait) {
    main {
      flex-direction: column;
      height: 100vh;
    }
  }
}

@media only screen and (max-width: 1440px) {
  @media screen and (orientation: portrait) {
    main {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 1280px) {
  @media screen and (orientation: landscape) {
    nav {
      padding: 2em 1.5em 0 1.5em;
    }
    .illustration-sidebar {
      flex-basis: 43%;
    }
    .main-content-wrapper {
      flex-basis: 36.5%;
      padding-left: 2em;
    }
    .main-content {
      max-width: 32em;
    }
    .landing-heading {
      font-size: 3em;
      line-height: 51.84px;
    }
    .landing-body-text {
      font-size: 1em;
      line-height: 20px;
    }

    footer {
      padding: 1em 1.5rem 0 1.5rem;
    }
  }
  @media screen and (orientation: portrait) {
    main {
      flex-direction: column;
      height: 100vh;
    }
    .illustration-sidebar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 2.9em;
    }

    .scroll-container {
      margin-top: 3.65em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 2;
    }
    .arrow-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 7.5em;
      padding: 0.5em;
    }

    .scroll-text {
      font-family: 'Inter';
      font-size: 1em;
      font-weight: 700;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: center;
    }
    .main-content {
      max-width: 39em;
    }

    .main-content-wrapper {
      height: 100vh;
      padding-left: 4em;
    }
    .landing-heading {
      max-width: 10em;
      font-size: 3.5em;
      font-weight: 800;
      line-height: 60px;
      letter-spacing: 0em;
    }
    .landing-body-text {
      font-size: 1.25em;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0px;
    }

    .mobile {
      width: 19em;
      height: 40em;
    }
    .form {
      max-width: 45.1em;
    }
    .email-input {
      width: 60rem;
    }
    .upArrow-btn {
      position: absolute;
      bottom: 5.75rem;
      right: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3.26rem;
      width: 3.26rem;
      border-radius: 9.75rem;
      padding: 0.625rem;
      border: none;
    }
  }
}

@media only screen and (max-width: 1024px) {
  @media screen and (orientation: landscape) {
    nav {
      padding: 2em 1.5em 0 1.5em;
    }
    .illustration-sidebar {
      flex-basis: 43%;
    }
    .main-content-wrapper {
      flex-basis: 36.5%;
      padding-left: 2em;
    }
    .main-content {
      max-width: 30em;
    }
    .form {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 27.5rem;
    }
    .email-input {
      width: 27.5rem;
      border-radius: 7.5em;
      border: 1px solid rgba(0, 0, 0, 0.08);
      padding: 1.46875rem 1.375rem 1.375rem 1.5rem;
    }
    .landing-heading {
      font-size: 3em;
      line-height: 51.84px;
    }
    .landing-body-text {
      font-size: 1em;
      line-height: 20px;
    }

    footer {
      padding: 1em 1.5rem 0 1.5rem;
    }
  }
  @media screen and (orientation: portrait) {
    .main-content-wrapper {
      height: 100vh;
    }

    nav {
      padding: 2em 1.5em 0 1.5em;
      position: fixed;
    }
    .illustration-sidebar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 2.9em;
      min-height: 64em;
    }

    .scroll-container {
      margin-top: 3.65em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .arrow-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 7.5em;
      padding: 0.5em;
    }

    .scroll-text {
      font-family: 'Inter';
      font-size: 1em;
      font-weight: 700;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: center;
    }
    .main-content {
      max-width: 39em;
    }

    .main-content-wrapper {
      min-height: 64em;
      padding-left: 1.51em;
    }
    .landing-heading {
      max-width: 10em;
      font-size: 3.5em;
      font-weight: 800;
      line-height: 60px;
      letter-spacing: 0em;
    }
    .landing-body-text {
      font-size: 1.25em;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0px;
    }

    .mobile {
      width: 19em;
      height: 40em;
    }
    .form {
      max-width: 45.1em;
    }
    .email-input {
      width: 60rem;
    }
    .upArrow-btn {
      position: absolute;
      bottom: 5.75rem;
      right: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3.26rem;
      width: 3.26rem;
      border-radius: 9.75rem;
      padding: 0.625rem;
      border: none;
    }
    footer {
      position: relative;
      width: 90%;
      bottom: 4em;
    }
  }
}

@media only screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  nav {
    padding: 2em 1.5em 0 1.5em;
    position: fixed;
  }
  .illustration-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2.9em;
    min-height: 64em;
  }

  .scroll-container {
    margin-top: 3.65em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 7.5em;
    padding: 0.5em;
  }

  .scroll-text {
    font-family: 'Inter';
    font-size: 1em;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }
  .main-content {
    max-width: 39em;
  }

  .main-content-wrapper {
    min-height: 64em;
    padding-left: 1.51em;
  }
  .landing-heading {
    max-width: 10em;
    font-size: 3.5em;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0em;
  }
  .landing-body-text {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
  }

  .mobile {
    width: 19em;
    height: 40em;
  }
  .form {
    max-width: 37em;
  }
  .email-input {
    width: 60rem;
  }
  .upArrow-btn {
    position: absolute;
    bottom: 5.9rem;
    right: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.26rem;
    width: 3.26rem;
    border-radius: 9.75rem;
    padding: 0.625rem;
    border: none;
  }
  footer {
    position: relative;
    padding: 0 1.5em 2.7em 1.5em;
  }
}
@media only screen and (max-width: 600px) {
  @media screen and (orientation: portrait) {
    .form {
      max-width: 28.1em;
    }
  }
  footer {
    position: relative;
    padding: 0 0 0 1em;
  }
}

@media only screen and (max-width: 500px) {
  @media screen and (orientation: portrait) {
    .form {
      max-width: 22.1em;
    }
    footer {
      padding: 0;
      bottom: 10em;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.6em;
    }
  }
  @media screen and (orientation: landscape) {
    .form {
      max-width: 25.1em;
    }
    .email-input {
      width: 20rem;
    }

    .form {
      max-width: 19.1em;
    }

    .right-sidebar {
      height: 100vh;
      max-width: 20em;
    }
    .upArrow-btn {
      position: absolute;
      bottom: 10.2rem;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3.26rem;
      width: 3.26rem;
      border-radius: 9.75rem;
      padding: 0.625rem;
      border: none;
    }
    footer {
      padding: 0;
      bottom: 4em;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.6em;
    }
    nav {
      width: 90%;
    }
  }
}
@media only screen and (max-width: 375px) {
  nav {
    padding: 1.5em 1em 0 1em;
    justify-content: flex-start;
    gap: 10.7em;
    position: fixed;
  }

  .landing-cta-btn {
    margin-top: 0.0625em;
  }

  .illustration-sidebar {
    justify-content: center;
    padding: 0;
    /* min-height: 50.75em; */
  }

  .mobile {
    height: 28.25em;
    width: 13.75em;
  }

  .email-input {
    width: 60rem;
  }
  .main-content-wrapper {
    margin-top: -8.2em;
    padding-left: 1em;
    max-width: 21.4375em;
    min-height: 58em;
    padding-left: 1em;
  }

  .upArrow-btn {
    position: absolute;
    bottom: 9rem;
    right: -1.4rem;
  }
  .landing-heading {
    font-size: 2.5em;
    line-height: 51.84px;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
  }
  .landing-body-text {
    font-family: 'Inter';
    font-size: 1em;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }
  .form {
    max-width: 21.4375em;
    position: relative;
  }
  .email-input {
    width: 26.4375em;
  }
  .input-btn {
    height: 3rem;
    width: 5.75rem;
    border-radius: 7.5rem;
    padding: 0.75rem 1.5rem 0.75em 1.5rem;
  }
  footer {
    padding: 0;
    bottom: 10em;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.6em;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.4em;
  }
  .mobile-thanks {
    display: none;
    height: 2.5rem;
    width: 8.6875rem;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Inter';
    font-size: p 0.875rem;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: center;
    position: absolute;
    top: 3em;
  }
}

@media only screen and (max-width: 360px) {
  nav {
    width: 80%;
    gap: 9.7em;
  }
  .form {
    max-width: 18.4375em;
    position: relative;
  }
  .email-input {
    width: 18.4375em;
  }
}

@media only screen and (max-width: 340px) {
  nav {
    width: 80%;
    gap: 8.7em;
  }
  .form {
    max-width: 16.4375em;
    position: relative;
  }
  .email-input {
    width: 16.4375em;
  }
}

@media only screen and (max-width: 320px) {
  nav {
    gap: 7.7em;
  }
}

@media only screen and (max-width: 310px) {
  nav {
    gap: 6.7em;
  }
}
