.preloader {
  padding: 0 0 2.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.925625rem;
}

.preloader-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}
.arriving-info {
  margin-top: 16.5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copy {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: right;
  font-style: normal;
  font-weight: 500;
}

/* Responsive Design */

@media only screen and (max-width: 768px) {
  .preloader {
    gap: 6.738125rem;
  }
  .arriving-info {
    margin-top: 20.25rem;
  }
  .arriving-info-svg {
    height: 3.5rem;
    width: 9rem;
  }

  .linq-svg {
    height: 8.625rem;
    width: 16.5625rem;
  }
}

@media only screen and (max-width: 375px) {
  .preloader {
    gap: 9.5em;
  }
  .linq-svg {
    height: 7.125rem;
    width: 13.5625rem;
  }
  .arriving-info-svg {
    height: 4.5rem;
    width: 8.6rem;
  }
}
