* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Test National 2';
}

.sidebars-wrapper {
  display: flex;
  min-height: 100;
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 41.39%;
  background-color: #f8f8f8;
}

.left-sidebar-illustration {
  margin-top: 307px;
}
.right-sidebar {
  flex-basis: 58.61%;
  /* min-width: 844px; */
  padding: 37px 36px 0 64px;
}

.right-sidebar-header {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: center;
}
.logo-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.privacy-logo {
  margin-top: 6.975em;
}

.privacy-underline-text {
  margin: 12px 0 0 0;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  color: #9c9d9f;
}

.right-sidebar-heading {
  margin: 21.7px 0 0 0;
  font-size: 64px;
  font-weight: 800;
  line-height: 69px;
  letter-spacing: 0px;
}

.cancel-btn {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 283.64px;
  border: none;
  position: fixed;
  top: 2.3125em;
}

.sticky {
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.privacy-main-content {
  max-width: 624px;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.privacy-main-content-heading {
  margin: 72px 0 0 0;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
}
.privacy-main-content-body-text {
  margin: 16px 0 0 0;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.li-heading {
  font-weight: bold;
}
.privacy-main-bullet-points ul {
  padding: 0 0 0 24px;
}
.privacy-main-bullet-points {
  margin: 55px 0 0 0;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.second-heading {
  margin-top: 32px;
}
/*
      Responsive
  */

@media only screen and (max-width: 768px) {
  .sidebars-wrapper {
    flex-direction: column;
  }
  .left-sidebar {
    display: none;
  }
  .right-sidebar {
    padding: 32px 24px 0 24px;
  }
  .right-sidebar-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .logo-header {
    flex-direction: row;
    align-items: center;
    gap: 250px;
  }
  .right-sidebar-heading {
    margin: 0;
    font-size: 32px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0em;
  }
  .privacy-logo {
    margin: 0;
  }
  .cancel-btn {
    align-self: start;
    right: 1.5em;
    margin-top: 0.3em;
  }
  .privacy-main-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    max-width: 720px;
  }
  .privacy-underline-text {
    margin-top: 72px;
  }
  .privacy-main-content-heading {
    margin-top: 52px;
  }
}
@media only screen and (max-width: 690px) {
  .logo-header {
    gap: 200px;
  }
}
@media only screen and (max-width: 640px) {
  .logo-header {
    gap: 180px;
  }
}
@media only screen and (max-width: 590px) {
  .logo-header {
    gap: 160px;
  }
}
@media only screen and (max-width: 550px) {
  .logo-header {
    gap: 130px;
  }
}
@media only screen and (max-width: 493px) {
  .logo-header {
    gap: 110px;
  }
}
@media only screen and (max-width: 460px) {
  .logo-header {
    gap: 95px;
  }
}
@media only screen and (max-width: 440px) {
  .logo-header {
    gap: 90px;
  }
}
@media only screen and (max-width: 440px) {
  .logo-header {
    gap: 80px;
  }
}
@media only screen and (max-width: 390px) {
  .logo-header {
    gap: 60px;
  }
}
@media only screen and (max-width: 375px) {
  .right-sidebar {
    padding: 16px 24px 0 16px;
  }
  .right-sidebar-heading {
    font-size: 24px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0em;
  }
  .logo-header {
    flex-direction: row;
    align-items: center;
    gap: 75px;
  }
  .privacy-main-content-heading {
    margin: 32px 0 0 0;
  }
  .privacy-underline-text {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .sidebars-wrapper {
    flex-direction: column;
  }
  .left-sidebar {
    display: none;
  }
  .right-sidebar {
    padding: 0 24px 0 24px;
  }
  .right-sidebar-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 8em;
    top: 0;
    background-color: #fff;
  }
  .logo-header {
    flex-direction: row;
    align-items: center;
    gap: 250px;
  }
  .right-sidebar-heading {
    margin: 0;
    font-size: 32px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0em;
  }
  .privacy-logo {
    margin: 0;
  }
  .cancel-btn {
    align-self: start;
    margin-top: 0.3em;
  }
  .privacy-main-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    max-width: 720px;
  }
  .privacy-underline-text {
    margin-top: 170px;
  }
  .privacy-main-content-heading {
    margin-top: 52px;
  }
}
@media only screen and (max-width: 690px) {
  .logo-header {
    gap: 200px;
  }
}
@media only screen and (max-width: 640px) {
  .logo-header {
    gap: 180px;
  }
}
@media only screen and (max-width: 590px) {
  .logo-header {
    gap: 160px;
  }
}
@media only screen and (max-width: 550px) {
  .logo-header {
    gap: 130px;
  }
}
@media only screen and (max-width: 493px) {
  .logo-header {
    gap: 110px;
  }
}
@media only screen and (max-width: 460px) {
  .logo-header {
    gap: 95px;
  }
}
@media only screen and (max-width: 440px) {
  .logo-header {
    gap: 90px;
  }
}
@media only screen and (max-width: 440px) {
  .logo-header {
    gap: 80px;
  }
}
@media only screen and (max-width: 390px) {
  .logo-header {
    gap: 60px;
  }
}
@media only screen and (max-width: 375px) {
  .right-sidebar {
    padding: 16px 24px 0 16px;
  }
  .right-sidebar-heading {
    font-size: 24px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0em;
  }
  .logo-header {
    flex-direction: row;
    align-items: center;
    gap: 75px;
  }
  .privacy-main-content-heading {
    margin: 32px 0 0 0;
  }
  .privacy-underline-text {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 352px) {
  .logo-header {
    gap: 70px;
  }
}

@media only screen and (max-width: 350px) {
  .logo-header {
    gap: 60px;
  }
}

@media only screen and (max-width: 300px) {
  .logo-header {
    gap: 45px;
  }
}
@media only screen and (max-width: 270px) {
  .logo-header {
    gap: 40px;
  }
}

/* SVG ILLUSTRATION */

#terms-glasses {
  transform-origin: top right;
}
